{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <form method="post" class="my-5">
            {% csrf_token %}
            <p>Êtes-vous sûr de vouloir supprimer le ticket :</p>
            {% include "flux/ticket_snippet.html" %}
            {% comment %} <input type="submit" value="Confirm"> {% endcomment %}
            <button type="submit" class="btn btn-danger m-2">Supprimer</button>
            <a name="" id="" class="btn btn-primary" href={% url 'posts' %} role="button">Annuler</a>

        </form>
    </div>

{% endblock content %}